<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Amina Cleaning Services</title>
</head>
<body>
	<h3>Scheduled cleaning:</h3>
	<p th:text="${firstName}"></p>
	<p th:text="${lastName}"></p>
	<p th:text="${contactTel}"></p>
	<p th:text="${areaCode}"></p>
	<p th:text="${email}"></p>
	<p th:text="${prefferedContactMethod}"></p>
	<p th:text="${mayWeContactYou}"></p>
	<p th:text="${additionalInformation}"></p>
	<p th:text="${ScheduledDate}"></p>
</body>
</html>